shared: &shared
  adapter: postgis
  encoding: unicode

development:
  <<: *shared
  url: <%= ENV["DATABASE_URL"] || "postgres:///karlandkeke-development" %>
  # username: "asilverman"

test:
  <<: *shared
  url: <%= ENV["DATABASE_URL"] || "postgres:///karlandkeke-test" %>

# Set connection pooling params as per: https://devcenter.heroku.com/articles/concurrency-and-database-connections#threaded-servers
# Also see: https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server#on-worker-boot
heroku: &heroku
  <<: *shared
  url: <%= ENV["DATABASE_URL"] %>
  pool: <%= ENV["DB_POOL"] || ENV['MAX_THREADS'] || 5 %>

staging:
  <<: *heroku

production:
  <<: *heroku
