li.page-item
  a.page-link[href=url aria-label=t('views.pagination.first') title=t('views.pagination.first')]
    span.fa.fa-angle-double-left[aria-hidden="true"]
    span.sr-only=t('views.pagination.first')
