li.page-item
  a.page-link[href=url aria-label=t('views.pagination.last') title=t('views.pagination.last')]
    span.fa.fa-angle-double-right[aria-hidden="true"]
    span.sr-only=t('views.pagination.last')
