li.page-item
  a.page-link[href=url aria-label=t('views.pagination.previous') title=t('views.pagination.previous')]
    span.fa.fa-angle-left[aria-hidden="true"]
    span.sr-only=t('views.pagination.previous')
