// var auth0Lock = new Auth0Lock(
//   "#{Rails.application.secrets.auth0_client_id}",
//   "#{Rails.application.secrets.auth0_domain}"
// );

// function signin() {
//   auth0Lock.show({
//     callbackURL: "#{Rails.application.secrets.auth0_callback_base}/auth/auth0/callback",
//     responseType: 'code',
//     authParams: {
//       scope: 'openid name email picture'
//     }
//   });
// }

var setup_map = function() {
  // setup map
  mapboxgl.accessToken = 'pk.eyJ1IjoiaGsyMyIsImEiOiJjaWg2dDRmOXAwNmNpdWtrdDRvdW1xdzI2In0.F9uULd8DhCkRGltilPPZbg';

  var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/hk23/ciimpkraf007n8ulx593l7qze', //stylesheet location
      center: [-74.0059, 40.7127], // starting position 40.7127° N, 74.0059° W
      zoom: 9, // starting zoom
      hash: true
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.Navigation());

  var points = $("li.daycare");
  var geojson= {
    "type": "FeatureCollection",
    "features": []
  };

  $.each(points, function(index, point) {
    var lat = $(point).data('lat');
    var lon = $(point).data('lon');
    var center_name = $(point).data('center_name');
    if (!lat || !lon) {
      return true;
    }

    geojson.features.push({
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [lon, lat]
      },
      "properties": {
        "title": center_name,
        "description": "<div class=\"marker-title\">"+ center_name +"</div>",
        "marker-symbol": "marker-24"
      }
    });
  });

  map.on('style.load', function () {
    map.addSource("markers", {
      "type": "geojson",
      "data": geojson
    });
    map.addLayer({
      "id": "markers",
      "type": "symbol",
      "source": "markers",
      "interactive": true,
      "layout": {
        "icon-image": "{marker-symbol}"
      },
      "paint": {
        "text-size": 14,
        "icon-color" : "#ff0000"
      }
    });  
  });

  // When a click event occurs near a marker icon, open a popup at the location of
  // the feature, with description HTML from its properties.
  map.on('click', function (e) {
    map.featuresAt(e.point, {layer: 'markers', radius: 10, includeGeometry: true}, function (err, features) {
      if (err || !features.length)
        return;

      var feature = features[0];
      new mapboxgl.Popup()
        .setLngLat(feature.geometry.coordinates)
        .setHTML(feature.properties.description)
        .addTo(map);
    });
  });

  // Use the same approach as above to indicate that the symbols are clickable
  // by changing the cursor style to 'pointer'.
  map.on('mousemove', function (e) {
    map.featuresAt(e.point, {layer: 'markers', radius: 10}, function (err, features) {
      map.getCanvas().style.cursor = (!err && features.length) ? 'pointer' : '';
    });
  });
};

$(function(){
  if (!mapboxgl.supported()) {
    alert('Your browser does not support Mapbox GL');
  } else {
    setup_map();
  }
  
  // $("div.violations").shorten({
  //   showChars: 250,
  //   ellipsesText: '',
  //   moreText: 'MORE',
  //   lessText: 'LESS'
  // });
});

