/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require mapbox/mapbox-gl_v0.12.2
 *= require_self
 */

@import 'semantic_ui/themes/default/globals/site.variables';
@import 'semantic_ui/config/globals/site.variables';

.logo {
  font-weight: 700;

  span {
    font-weight: 300;
  }
}

.grade {
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;

  &-a {
    background-color: @blue;
  }

  &-b {
    background-color: @green;
  }

  &-c {
    background-color: @yellow;
  }

  &-d {
    background-color: @orange;
  }

  &-e {
    background-color: @red;
  }
}

#masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .ui.menu {
    margin: 0 !important;
  }

  .logo {
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
  }

  .header.item {
    margin: 0;
    min-width: 192px;
  }

  .field {
    @media only screen and (max-width: @largestMobileScreen) {
      flex: 1;
    }

    label {
      color: @lightGrey;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 11px;
    }
  }

  .ui.label {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
  }

  input[name="search"] {
    min-width: 200px;
  }
}

#results {
  position: relative;
  top: 154px;
  // margin: 0;

  .item {
    padding: @huge;
  }

  .grade {
    margin-left: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
}

#map {
  position: fixed;
  top: 150px;
  width: calc(~"50vw - 20px");
  height: calc(~"100vh - 154px");
  overflow: hidden;
}

