/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require mapbox/mapbox-gl_v0.12.2
 *= require_self
 */

@import 'semantic_ui/themes/default/globals/site.variables';
@import 'semantic_ui/config/globals/site.variables';

.logo {
  font-weight: 700;

  span {
    font-weight: 300;
  }
}

.grade {
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;

  &-a {
    background-color: @blue;
  }

  &-b {
    background-color: @green;
  }

  &-c {
    background-color: @yellow;
  }

  &-d {
    background-color: @orange;
  }

  &-e {
    background-color: @red;
  }
}

#masthead {
  @media only screen and (min-width: @largestMobileScreen) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .ui.menu {
    margin: 0 !important;
  }

  .logo {
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    a {
      color: white;
    }
  }

  .header.item {
    margin: 0;
    min-width: 192px;
  }

  .field {
    @media only screen and (max-width: @largestMobileScreen) {
      flex: 1;
    }

    label {
      color: @lightGrey;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 11px;
    }
  }

  .ui.label {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
  }

  input[name="search"] {
    min-width: 200px;
  }
}

#content {
  @media only screen and (min-width: @largestMobileScreen) {
    position: relative;
    top: 154px;
  }
}

#results {
  position: relative;

  .results-list .item.daycare {
    padding: @large;

    @media only screen and (min-width: @largestMobileScreen) {
      padding: @huge;
    }
  }

  .violations {
    padding: 1rem 0;
  }

  .grade {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .ui.pagination.menu {
    flex-wrap: wrap;
  }
}

span.show_map {
  cursor: pointer;
  @media only screen and (max-width: @largestMobileScreen) {
    display:none;
  }
}

.map-wrapper {
  display: none;

  @media only screen and (min-width: @largestMobileScreen) {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    #map {
      position: fixed;
      top: 154px;
      bottom: 0;
      right: 0;
      width: calc(~"50vw - 20px");
      height: calc(~"100vh - 154px");
      overflow: hidden;
    }
  }
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
  font-weight: 700;
}

.table-cell {
  display:table-cell;
  padding:0 5px;
}

/*
  using http://www.patternify.com/ to make these images
*/
.violation-1 {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAE0lEQVQIW2P8/5/hPwMaYBzKggA71R3tPD4VZwAAAABJRU5ErkJggg==");
}

.violation-2 {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAE0lEQVQIW2P8VRfwnwENMA5lQQBJChvR9aXGMQAAAABJRU5ErkJggg==");
}

.violation-3 {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAE0lEQVQIW2P8xc//nwENMA5lQQA/FxTxqU213QAAAABJRU5ErkJggg==");
}

// ol.ui.list .violation-item:before {
//   content: '';
// }
